/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-copyright-block {
	border: 1px dotted #f00;
}

.custom-button,
.custom-button a {
	display: inline-block;
	background-color: #00bfa5;
	color: #ffffff;
	padding: 8px 16px;
	margin: 0 5px;
	text-decoration: none !important; /* Ensures no underline */
	border-radius: 4px;
	text-align: center;
}

.custom-button:hover {
	background-color: #008c75;
	color: #fff;
}
